/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@use 'navbar';
@use 'index';
@use 'section-header';
@use 'footer';
@use 'services';
@use 'doctors';
@use  'about';
@use 'contact';
@use 'floating-chat';



*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }