<div class="section-header {{if @inverted 'inverted'}}">
  <h2 class="section-title">{{@title}}</h2>
  <p class="section-subtitle">{{@subtitle}}</p>
  <div class="section-divider">
    <div class="hex-line"></div>
  </div>
</div>